body{
margin:0;
font-family:sans-serif;
background:#eef7f0;
height:100dvh;
overflow:hidden;
}

/* MAIN */
.calendar{
max-width:500px;
margin:auto;
padding:4px;
height:100dvh;
display:flex;
flex-direction:column;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:4px;
}

.header button{
background:#2e7d32;
border:none;
color:white;
font-size:14px;
padding:6px 8px;
border-radius:8px;
}

#monthTitle{
font-size:16px;
font-weight:bold;
color:#1b5e20;
}

/* DAY NAMES */
.day-names{
display:grid;
grid-template-columns:repeat(7,1fr);
text-align:center;
font-weight:bold;
font-size:12px;
margin-bottom:4px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:1px;
flex:1;
}

/* DAY BOX */
.day{
background:#ffffff;
border-radius:8px;
padding:2px 1px;
text-align:center;
box-shadow:0 1px 3px rgba(0,0,0,0.08);
display:flex;
flex-direction:column;
justify-content:center;
min-height:38px;
}

/* ENGLISH DATE */
.eng{
font-size:15px;
font-weight:bold;
}

/* HIJRI */
.hijri{
font-size:12px;
color:#2e7d32;
}

/* TODAY */
.today{
background:#2e7d32 !important;
color:white;
}
