body{
font-family:sans-serif;
background:#e7efe8;
margin:0;
}

.calendar{
max-width:500px;
margin:auto;
padding:20px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header button{
background:#6dbf73;
border:none;
color:white;
font-size:18px;
padding:10px 15px;
border-radius:10px;
}

#monthTitle{
font-size:22px;
font-weight:bold;
color:#2f6b3a;
}

.grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
}

.day{
background:white;
padding:12px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
