body{
font-family:sans-serif;
background:#e7efe8;
margin:0;
}

.calendar-container{
max-width:500px;
margin:auto;
padding:20px;
}

.calendar-header{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:20px;
}

.calendar-header button{
background:#6dbf73;
border:none;
color:white;
font-size:20px;
padding:10px 15px;
border-radius:10px;
}

#monthTitle{
font-size:22px;
font-weight:700;
color:#2f6b3a;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
}

.day{
background:white;
border-radius:14px;
padding:14px 0;
text-align:center;
box-shadow:0 4px 8px rgba(0,0,0,.08);
font-size:18px;
}
