html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:sans-serif;

    background:
    linear-gradient(
        rgba(255,251,244,.70),
        rgba(255,251,244,.70)
    ),
    url("../assets/bg_pattern.png");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.qibla-page{
    height:100dvh;
    display:flex;
    flex-direction:column;
}

.location-card{
    margin:10px 12px 8px;
    padding:14px;

    background:#dcedc8;

    border-radius:16px;

    text-align:center;

    flex-shrink:0;
}

#locationLabel{
    font-size:13px;
    font-weight:700;
    color:#52796f;
}

#locationName{
    margin-top:6px;

    font-size:16px;
    font-weight:700;

    color:#1b4332;
}

.compass-wrapper{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:0;
}

.compass{
    width:240px;
    height:240px;

    border-radius:50%;

    background:#dcedc8;

    border:8px solid #a5d6a7;

    position:relative;
}

.direction{
    position:absolute;

    font-size:20px;
    font-weight:700;

    color:#1b5e20;
}

.north{
    top:8px;
    left:50%;
    transform:translateX(-50%);
}

.south{
    bottom:8px;
    left:50%;
    transform:translateX(-50%);
}

.east{
    right:12px;
    top:50%;
    transform:translateY(-50%);
}

.west{
    left:12px;
    top:50%;
    transform:translateY(-50%);
}

.compass-ring{
    width:185px;
    height:185px;

    border-radius:50%;

    border:3px dashed #81a684;

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
}

.center-point{
    width:18px;
    height:18px;

    background:#d4af37;

    border:4px solid #fff;

    border-radius:50%;

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
}

.degree{
    position:absolute;

    bottom:28px;

    left:50%;

    transform:translateX(-50%);

    font-size:22px;
    font-weight:700;

    color:#2e7d32;
}

.info-card{
    margin:8px 12px 10px;

    padding:14px;

    background:#dcedc8;

    border-radius:16px;

    text-align:center;

    flex-shrink:0;
}

#distanceLabel{
    font-size:13px;
    font-weight:700;

    color:#52796f;
}

#distance{
    margin-top:6px;

    font-size:20px;
    font-weight:700;

    color:#1b4332;
}
