*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:sans-serif;
background:#eaf3e6;
min-height:100vh;
}

/* MAIN */
.container{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
padding:20px;
}

/* TITLE */
.title{
font-size:22px;
font-weight:bold;
}

/* COUNTER */
.counter-box{
flex:1;
display:flex;
align-items:center;
justify-content:center;
width:100%;
}

#counter{
font-size:110px;
font-weight:bold;
color:#2e7d32;
}

/* BUTTON */
button{
padding:15px 25px;
border:none;
border-radius:12px;
background:#f44336;
color:white;
font-size:16px;
cursor:pointer;
}
